<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
</head>
<body>
    <h1>Welcome to my website!</h1>
    <p>This is a paragraph of text.</p>
    <form method="POST" action="{{ url_for('process_form') }}">
        <label for="name">Enter your name:</label>
        <input type="text" id="name" name="name">
	<label for="color">Select your favorite color:</label>
	<select id="color" name="color">
		<option value="red">Red</option>
		<option value="green">Green</option>
		<option value="blue">Blue</option>
	</select>
        <button type="submit">Submit</button>
    </form>

    <p>You are heading from: </p>
    <div class="output">
	    {{ output_html }}
    </div>
</body>
</html>
